@{
    ViewBag.Title = "Contact";
}
<body style="margin:50px; background-color:#f1f1f1;">
    <h2>@ViewBag.Title</h2>
    <div class="w3-content">

        <div class="w3-row w3-margin w3-card-2 w3-hover-shadow w3-white">
            <div class="w3-third">
                <img src="https://www.w3schools.com/howto/img_fjords.jpg" style="width:100%;min-height:200px">
            </div>
            <div class="w3-twothird w3-display-container w3-container TextBlock" style="height:211px;">
                <h2>5 Terre</h2>
                <p class="HideText">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <div class="w3-display-bottomright w3-margin"><span style="font-size:20px;"class="glyphicon glyphicon-user"><b> - 6</b></span></div>
                <div class="w3-display-bottomleft w3-margin" style="background-color:#4caf50; padding:3px;color:white;"><span style="font-size:18px;" class="glyphicon glyphicon-euro"><b> 500,-</b></span></div>
            </div>
        </div>

            <hr />

        <div class="w3-row w3-margin w3-card-2 w3-hover-shadow w3-white">
            <div class="w3-third">
                <img src="https://www.w3schools.com/howto/img_fjords.jpg" style="width:100%;min-height:200px">
            </div>
            <div class="w3-twothird w3-display-container w3-container TextBlock" style="height:211px;">
                <h2>Monterosso</h2>
                <p class="HideText">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <div class="w3-display-bottomright w3-margin"><span style="font-size:20px;" class="glyphicon glyphicon-user"><b> - 4</b></span></div>
                <div class="w3-display-bottomleft w3-margin" style="background-color:#4caf50; padding:3px;color:white;"><span style="font-size:18px;" class="glyphicon glyphicon-euro"><b> 750,-</b></span></div>
            </div>
        </div>
    </div>
</body>
