@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
    .bg {
        background-position: center!important;
        background-repeat: no-repeat!important;
        background: url("https://cp.dagjecenterparcs.nl/zandvoort/images/24/ZV_AquaMundo_01.jpg");
        min-height: 436px;
        background-color:#222222;
    }
</style>
<body style="margin-top:50px;">
    <header class="bg w3-display-container w3-grayscale-min" style="max-width:100%;" id="home">
        <div class="w3-display-middle w3-center">
            <span style="font-size:90px; color:white; background-color:rgba(0, 0, 0, 0.7); text-decoration:underline;"><b> Port of Troy </b></span>
        </div>
        <div class="w3-display-bottomright w3-center w3-padding-large">
            <span class="w3-text-white">Parken in heel Europa</span>
        </div>
    </header>
    <div style="background-color:#222222; border-top:solid 1px black; padding:10px; color:white; font-size:25px;"><b>Welkom op onze website</b></div>
    <div style="padding:10px; font-size:16px;">Vanuit hier kunt u reserveren, bestellen en met onze klantenservice spreken.</div>
</body>